.search-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    p {
        margin-bottom: 5px;
        padding: 0;
    }
    input {
        width: 80vw;
        padding: 5px 25px;
        margin: 10px 0;
        height: 30px;
        border: 1px solid #d5d5d5;
        border-radius: 6px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        &:focus {
          outline: 1px solid #007bff;
        }
    }
}